
@font-face {
    font-family: 'pixel';
    src: url('fonts/subset-pixel.woff2') format('woff2'),
        url('fonts/subset-pixel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    
}

html {
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: unset;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;    
    color: lime;
    background-color: black;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: unset;
}

p {
    margin: 0.5em 1em 0.5em 1em;
    font-size: 1.2em;
}

button:active {
    transform: scale(0.95); /* Slightly shrink the button */

}

a {
    color: lime;
    font-size: 1.2em;
    margin: 10%;
}

img {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

#canvas {
    border: 2px solid lime;
    padding: 2px;
    width: 65%;
    image-rendering: pixelated; /* For crisp scaling */
    image-rendering: crisp-edges; /* Alternative for some browsers */
}

.gamelinks {
    text-decoration: none;
}